**/__pycache__/
**/.mypy_cache/
**/.pytest_cache/
**/.vscode/
/venv/
venv.bat
/models/*.pdf
/docs/build/*
!/docs/build/.gitkeep
/development_kit/models/*.xlsx
.coverage
cov.xml
newcert.pem.txt
banana.py
TODO.md