**/__pycache__/
**/.mypy_cache/
**/.pytest_cache/
**/.vscode/
/venv/
venv.bat
/models/*.pdf
newcert.pem.txt
banana.py
TODO.md
.coverage
coverage.xml
/development_kit/docs/*
/development_kit/models/*
!/development_kit/docs/.gitkeep
!/development_kit/models/.gitkeep
build/
dist/
frewpy.egg-info/